if title == '' || title == 'STUDENT MANAGEMENT'
  title STUDENT MANAGEMENT
else
  title STUDENT MANAGEMENT | #{title}
link(rel='stylesheet', href='/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='/AdminLTE/dist/css/AdminLTE.min.css')
link(rel='stylesheet', href='/AdminLTE/dist/css/skins/_all-skins.min.css')
link(rel='stylesheet', href='/AdminLTE/plugins/iCheck/square/blue.css')
link(rel='stylesheet', href='/stylesheets/css/layout.css')
