script(type='text/javascript', src='/AdminLTE/bower_components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')
script(type='text/javascript', src='/AdminLTE/dist/js/adminlte.min.js')
script(type='text/javascript', src='/AdminLTE/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='/javascripts/lib/bootstrap-notify/bootstrap-notify.min.js')
script(type='text/javascript', src='/javascripts/lib/moment-2.19.4.min.js')
//- script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
//- script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/exceljs@4.0.1/dist/exceljs.min.js')
//- script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js')